:root {
  //Fonts

  --font-logo:  normal 700 24px/32px "Helvetica";
  
  --font-prime: normal 400 16px/24px 'Inter';
  --font-second: normal 400 16px/24px 'Helvetica';

  --font-xm: normal 400 14px/22px 'Inter';
  --font-x: normal 400 16px/24px 'Helvetica';
  --font-xs: normal 400 18px/26px 'Inter';
  --font-xsl: normal 700 18px/26px 'Inter';
  --font-xl: normal 400 20px/28px 'Helvetica';

  --font-miniver: normal 400 18px/26px 'Miniver';

  --font-h1: normal 700 60px/68px "Helvetica";
  --font-h2: normal 700 48px/56px "Helvetica";
}
